    body {
        background-image: linear-gradient(141deg, #03071e, #370617);
        font-family: 'IBM Plex Mono', monospace;
        font-size: 20px;
        color: #f3f3f3;
        text-shadow: 1px 1px rgba(0, 0, 0, 0.700);
        width: 100%;
        height: 100vh;
        text-align: center;
    }
    
    header {
        color: #f3f3f3;
        text-shadow: 1px 1px rgba(0, 0, 0, 0.700);
        text-align: center;
        font-size: 35px;
    }
    
    section {
        background: #111b32;
        border-radius: 10px;
        padding: 15px;
        width: 500px;
        height: 500px;
        margin: auto;
        height: auto;
        font-size: 25px;
        text-shadow: 1px 1px rgb(0 0 0 / 10%);
    }
    
    #txtdia {
        width: 40px;
        border-radius: 5px;
        padding: 2px;
        font-family: 'IBM Plex Mono', monospace;
        font-size: 20px;
        font-weight: bolder;
        text-align: center;
        background: #f3f3f3;
    }
    
    #txtdia:focus {
        outline: none;
    }
    
    #txtmes {
        width: 40px;
        border-radius: 5px;
        padding: 2px;
        font-family: 'IBM Plex Mono', monospace;
        font-size: 20px;
        font-weight: bolder;
        text-align: center;
        background: #f3f3f3;
    }
    
    #txtmes:focus {
        outline: none;
    }
    
    #txtano {
        width: 70px;
        border-radius: 5px;
        padding: 2px;
        font-family: 'IBM Plex Mono', monospace;
        font-size: 20px;
        font-weight: bolder;
        text-align: center;
        background: #f3f3f3;
    }
    
    #txtano:focus {
        outline: none;
    }
    
    #btn {
        background: #4f5a97;
        border-radius: 10px;
        color: #f3f3f3;
        text-shadow: 1px 1px rgba(0, 0, 0, 100%);
        width: 150px;
        padding: 15px;
        border: none;
        text-align: center;
        cursor: pointer;
        font-size: 20px;
        font-weight: bold;
    }
    
    #btn:hover {
        background: #283164;
    }
    
    #radio {
        background-image: linear-gradient(140deg, #67eda4 10%, #2e6f51 100%);
    }
    
    #res p {
        margin-top: 3em;
    }
    
    #res img {
        padding: 0.5em;
    }
    
    img:hover {
        opacity: 0.5;
    }
    
    footer {
        color: #f3f3f3;
        text-align: center;
        font-style: italic;
        padding: 1em;
        margin-top: 1em;
    }
    
    footer a {
        color: #f3f3f3;
    }
    /*responsivo*/
    
    @media (max-width: 600px) {
        body {
            margin: auto;
        }
        header {
            text-align: center;
            margin: auto;
            font-size: 15px;
        }
        section {
            width: 90%;
            margin: auto;
            height: 600px;
            padding: 0.5em;
            font-size: 18px;
            box-shadow: none;
        }
        #res img {
            padding: 1em;
        }
    }
    
    @media (max-width: 300px) {
        #input {
            width: auto;
            font-size: 18px;
        }
        section {
            height: 600px;
        }
    }
    /*fim responsivo*/